body:not(.lightmode) {
    color: #fff
}

body:not(.lightmode) .site-main {
    background-color: #343434;
    color: #fff
}

body:not(.lightmode) .content-bg-main {
    color: #fff
}

body:not(.lightmode) .content-bg-main>.bg-triangle polygon {
    fill: #343434
}

body:not(.lightmode) .content-bg-gray {
    background-color: #1a1a1a;
    color: #fff
}

body:not(.lightmode) .content-bg-gray>.bg-triangle polygon {
    fill: #1a1a1a
}

body:not(.lightmode) .content-bg-dark {
    background-color: #0d0d0d;
    color: #fff
}

body:not(.lightmode) .underlined::before,
body:not(.lightmode) nav#section-main-navigation .menu-wrap ul.navi-main>li.menu-item>a::before {
    background-color: #d19762;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d19762', endColorstr='#d19762', GradientType=1);
    background-repeat: repeat-x
}

body:not(.lightmode) .content-bg-dark>.bg-triangle polygon {
    fill: #0d0d0d
}

body:not(.lightmode) a {
    color: #fff
}

body:not(.lightmode) #hamburger-menu,
body:not(.lightmode) body.mix-blend-mode-supported #hamburger-menu {
    mix-blend-mode: normal
}

body:not(.lightmode) #hamburger-menu .svg-menu,
body:not(.lightmode) body.mix-blend-mode-supported #hamburger-menu .svg-menu {
    fill: #fff
}

body:not(.lightmode) nav#section-main-navigation #logo-navi img *,
body:not(.lightmode) nav#section-main-navigation #logo-navi svg * {
    fill: #fff !important
}

body:not(.lightmode) nav#section-main-navigation .menu-wrap #logo-menu img path,
body:not(.lightmode) nav#section-main-navigation .menu-wrap #logo-menu picture path,
body:not(.lightmode) nav#section-main-navigation .menu-wrap #logo-menu svg path {
    fill: #fff !important;
    stroke: #fff !important
}

body:not(.lightmode) nav#section-main-navigation .menu-wrap ul.navi-main>li.menu-item>a::before {
    background-image: -moz-linear-gradient(to right, #d19762 0, #d19762 200%);
    background-image: -webkit-linear-gradient(to right, #d19762 0, #d19762 200%);
    background-image: linear-gradient(to right, #d19762 0, #d19762 200%)
}

body:not(.lightmode) nav#section-main-navigation .menu-wrap #toggle-darkmode span.toggle-darkmode-on svg * {
    stroke: #fff
}

body:not(.lightmode) nav#section-main-navigation .menu-wrap #toggle-darkmode span.toggle-darkmode-off svg * {
    fill: #fff;
    stroke: #fff
}

body:not(.lightmode) nav#section-main-navigation .morph-shape {
    fill: #1a1a1a
}

body:not(.lightmode) nav#section-main-navigation .morph-shape svg polygon {
    fill: #1a1a1a !important
}

body:not(.lightmode) nav#section-main-navigation .morph-shape::before {
    background-color: #1a1a1a
}

body:not(.lightmode) nav#section-main-navigation .lang-menu-wrap .lang-menu-container ul.navi-lang li.wpml-ls-item a {
    color: #bcbcbc
}

body:not(.lightmode) nav#section-main-navigation .lang-menu-wrap .lang-menu-container ul.navi-lang li.wpml-ls-item a:hover,
body:not(.lightmode) nav#section-main-navigation .lang-menu-wrap .lang-menu-container ul.navi-lang li.wpml-ls-item.wpml-ls-current-language a {
    color: #fff
}

body:not(.lightmode) nav#section-main-navigation .lang-menu-wrap .lang-menu-container ul.navi-lang li.wpml-ls-item::after {
    background-color: #fff
}

@media screen and (min-width:1024px) {
    body:not(.lightmode) #section-main-socialicons .social-navigation-container::before {
        background-color: #e6b381
    }
    body:not(.lightmode) #section-main-socialicons .social-navigation-container .social-link a {
        color: #e6b381
    }
}

body:not(.lightmode) #section-quick-navigation .navi-quick {
    background-color: #1a1a1a;
    -webkit-box-shadow: 0 0 5px 0 #0d0d0d;
    -moz-box-shadow: 0 0 5px 0 #0d0d0d;
    -ms-box-shadow: 0 0 5px 0 #0d0d0d;
    -o-box-shadow: 0 0 5px 0 #0d0d0d;
    box-shadow: 0 0 5px 0 #0d0d0d
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item.current_page_item {
    background-color: #343434
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item__description {
    color: #bcbcbc
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item.navi-quick__label {
    color: #fff
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item.navi-quick__label::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.5' height='11' viewBox='0 0 38.5 11'%3E%3Cg id='Arrow' transform='translate(1388.5 378) rotate(180)'%3E%3Cline id='Linie_22' data-name='Linie 22' x1='30' transform='translate(1358.5 372.5)' fill='none' stroke='%23ffffff' stroke-width='2'/%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M5.5,0,11,9H0Z' transform='translate(1350 378) rotate(-90)' fill='%23ffffff'/%3E%3C/g%3E%3C/svg%3E");
    color: #fff
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item>.sub-menu {
    background-color: #1a1a1a;
    border-color: #343434
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item>.sub-menu .menu-item a {
    background-color: #1a1a1a
}

body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item>.sub-menu .menu-item.current_page_item a,
body:not(.lightmode) #section-quick-navigation .navi-quick>.menu-item>.sub-menu .menu-item:hover a {
    background-color: #0d0d0d
}

@media screen and (min-width:640px) {
    body:not(.lightmode) #section-quick-navigation .navi-quick {
        border-top: 3px solid #343434
    }
    body:not(.lightmode) #section-quick-navigation .navi-quick .menu-item {
        border-left: 1px solid #343434
    }
    body:not(.lightmode) #section-quick-navigation .navi-quick .menu-item__description {
        color: #e6b381
    }
}

body:not(.lightmode) #mobile-navigation .mobile-navigation__bg svg * {
    fill: #0d0d0d
}

body:not(.lightmode) #mobile-navigation .mobile-navigation__menu__item label {
    color: #fff !important
}

body:not(.lightmode) #mobile-navigation .mobile-navigation__menu__item #hamburger-menu-mobile svg * {
    fill: #fff
}

body:not(.lightmode) #mobile-navigation .mobile-navigation__menu__item#link-contact-mobile svg * {
    stroke: #fff
}

body:not(.lightmode) .h1,
body:not(.lightmode) h1 {
    line-height: 1.1em;
    color: #fff;
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h1,
    body:not(.lightmode) h1 {
        font-size: calc(.79365vw + 19.46px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h1,
    body:not(.lightmode) h1 {
        font-size: 32px
    }
}

body:not(.lightmode) .h1.large,
body:not(.lightmode) h1.large {
    font-size: 32px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h1.large,
    body:not(.lightmode) h1.large {
        font-size: calc(1.90476vw + 25.9px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h1.large,
    body:not(.lightmode) h1.large {
        font-size: 56px
    }
}

body:not(.lightmode) .h2,
body:not(.lightmode) h2 {
    line-height: 1.1em;
    color: #fff;
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h2,
    body:not(.lightmode) h2 {
        font-size: calc(.79365vw + 19.46px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h2,
    body:not(.lightmode) h2 {
        font-size: 32px
    }
}

body:not(.lightmode) .h2.large,
body:not(.lightmode) h2.large {
    font-size: 32px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h2.large,
    body:not(.lightmode) h2.large {
        font-size: calc(1.90476vw + 25.9px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h2.large,
    body:not(.lightmode) h2.large {
        font-size: 56px
    }
}

body:not(.lightmode) .h3,
body:not(.lightmode) h3 {
    line-height: 1.5em;
    color: #fff;
    font-size: 17px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h3,
    body:not(.lightmode) h3 {
        font-size: calc(.39683vw + 15.73px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h3,
    body:not(.lightmode) h3 {
        font-size: 22px
    }
}

body:not(.lightmode) .h3.large,
body:not(.lightmode) h3.large {
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h3.large,
    body:not(.lightmode) h3.large {
        font-size: calc(.79365vw + 19.46px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h3.large,
    body:not(.lightmode) h3.large {
        font-size: 32px
    }
}

body:not(.lightmode) .h4,
body:not(.lightmode) h4 {
    line-height: 1.5em;
    color: #fff;
    font-size: 17px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h4,
    body:not(.lightmode) h4 {
        font-size: calc(.39683vw + 15.73px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h4,
    body:not(.lightmode) h4 {
        font-size: 22px
    }
}

body:not(.lightmode) .h4.large,
body:not(.lightmode) h4.large {
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h4.large,
    body:not(.lightmode) h4.large {
        font-size: calc(.79365vw + 19.46px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h4.large,
    body:not(.lightmode) h4.large {
        font-size: 32px
    }
}

body:not(.lightmode) .h5,
body:not(.lightmode) h5 {
    line-height: 1.9;
    color: #fff;
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h5,
    body:not(.lightmode) h5 {
        font-size: calc(-.39683vw + 23.27px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h5,
    body:not(.lightmode) h5 {
        font-size: 17px
    }
}

body:not(.lightmode) .h5.large,
body:not(.lightmode) h5.large {
    font-size: 17px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h5.large,
    body:not(.lightmode) h5.large {
        font-size: calc(0vw + 17px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h5.large,
    body:not(.lightmode) h5.large {
        font-size: 17px
    }
}

body:not(.lightmode) .h6,
body:not(.lightmode) h6 {
    line-height: 1.9;
    color: #fff;
    font-size: 22px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h6,
    body:not(.lightmode) h6 {
        font-size: calc(-.39683vw + 23.27px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h6,
    body:not(.lightmode) h6 {
        font-size: 17px
    }
}

body:not(.lightmode) .h6.large,
body:not(.lightmode) h6.large {
    font-size: 17px
}

@media screen and (min-width:320px) {
    body:not(.lightmode) .h6.large,
    body:not(.lightmode) h6.large {
        font-size: calc(0vw + 17px)
    }
}

@media screen and (min-width:1580px) {
    body:not(.lightmode) .h6.large,
    body:not(.lightmode) h6.large {
        font-size: 17px
    }
}

body:not(.lightmode) h3:not(.underlined):not(.not-secondary):not(.padded-multiline),
body:not(.lightmode) h3:not(.underlined):not(.not-secondary):not(.padded-multiline) *,
body:not(.lightmode) h4:not(.underlined):not(.not-secondary):not(.padded-multiline),
body:not(.lightmode) h4:not(.underlined):not(.not-secondary):not(.padded-multiline) * {
    color: #e6b381
}

body:not(.lightmode) .btn.btn-outline>*,
body:not(.lightmode) .btn.btn-outline[type=submit] {
    color: #fff;
    border: 1px solid #fff !important
}

body:not(.lightmode) .underlined::before {
    background-image: -moz-linear-gradient(to right, #d19762 0, #d19762 200%);
    background-image: -webkit-linear-gradient(to right, #d19762 0, #d19762 200%);
    background-image: linear-gradient(to right, #d19762 0, #d19762 200%)
}

body:not(.lightmode) .padded-multiline {
    line-height: 1.25em
}

body:not(.lightmode) .padded-multiline span {
    background: linear-gradient(to bottom, transparent 57%, #d19762 57%, #d19762 78%, transparent 78%);
    color: #fff;
    display: inline;
    padding: .4em .2em;
    box-decoration-break: clone;
    -webkit-box-decoration-break: clone
}

body:not(.lightmode) input[type=text],
body:not(.lightmode) input[type=tel],
body:not(.lightmode) input[type=email],
body:not(.lightmode) select,
body:not(.lightmode) textarea {
    -webkit-box-shadow: inset 0 -1px 0 0 #fff;
    -moz-box-shadow: inset 0 -1px 0 0 #fff;
    -ms-box-shadow: inset 0 -1px 0 0 #fff;
    -o-box-shadow: inset 0 -1px 0 0 #fff;
    box-shadow: inset 0 -1px 0 0 #fff
}

body:not(.lightmode) input[type=text]:focus,
body:not(.lightmode) input[type=tel]:focus,
body:not(.lightmode) input[type=email]:focus,
body:not(.lightmode) select:focus,
body:not(.lightmode) textarea:focus {
    -webkit-box-shadow: inset 0 -10px 0 0 #e6b381;
    -moz-box-shadow: inset 0 -10px 0 0 #e6b381;
    -ms-box-shadow: inset 0 -10px 0 0 #e6b381;
    -o-box-shadow: inset 0 -10px 0 0 #e6b381;
    box-shadow: inset 0 -10px 0 0 #e6b381
}

body:not(.lightmode) textarea:focus {
    background-color: #4d4d4d
}

body:not(.lightmode) input[type=checkbox]+span svg .box,
body:not(.lightmode) input[type=radio]+span svg .box {
    fill: #4d4d4d !important
}

body:not(.lightmode) footer {
    background-color: #0d0d0d
}

body:not(.lightmode) .com-accordion__container {
    background-color: #343434
}

body:not(.lightmode) .com-accordion__tab {
    border-bottom: 1px solid #1a1a1a
}

body:not(.lightmode) .com-accordion__tab:last-of-type {
    border-bottom: 0
}

body:not(.lightmode) .btn,
body:not(.lightmode) .btn:hover,
body:not(.lightmode) .btn>*,
body:not(.lightmode) .btn>:hover,
body:not(.lightmode) .btn[type=submit],
body:not(.lightmode) .btn[type=submit]:hover,
body:not(.lightmode) .link-with-arrow {
    text-decoration: none
}

body:not(.lightmode) .btn {
    cursor: pointer
}

body:not(.lightmode) .btn>*,
body:not(.lightmode) .btn[type=submit] {
    border-radius: 3px;
    display: inline-block;
    padding: 12px 15px;
    text-transform: uppercase;
    cursor: pointer;
    font-size: .9rem;
    line-height: 1.9;
    position: relative;
    overflow: hidden
}

body:not(.lightmode) .btn.btn-underline>*,
body:not(.lightmode) .btn.btn-underline[type=submit] {
    padding: 0 !important;
    border-radius: 0;
    text-transform: none !important;
    font-weight: 700
}

body:not(.lightmode) .btn.btn-dark>*,
body:not(.lightmode) .btn.btn-dark[type=submit],
body:not(.lightmode) .btn.btn-primary>*,
body:not(.lightmode) .btn.btn-primary[type=submit],
body:not(.lightmode) .com-content-box__wrapper.bg-secondary .box__button .btn>*,
body:not(.lightmode) .com-content-box__wrapper.bg-secondary .box__button .btn[type=submit] {
    color: #fff;
    background-color: #1a1a1a;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease
}

body:not(.lightmode) .btn.btn-dark>:hover,
body:not(.lightmode) .btn.btn-dark[type=submit]:hover,
body:not(.lightmode) .btn.btn-primary>:hover,
body:not(.lightmode) .btn.btn-primary[type=submit]:hover,
body:not(.lightmode) .com-content-box__wrapper.bg-secondary .box__button .btn>:hover,
body:not(.lightmode) .com-content-box__wrapper.bg-secondary .box__button .btn[type=submit]:hover {
    background-color: #0d0d0d
}

body:not(.lightmode) .btn.btn-primary>*,
body:not(.lightmode) .btn.btn-primary[type=submit],
body:not(.lightmode) .btn.btn-secondary>*,
body:not(.lightmode) .btn.btn-secondary[type=submit],
body:not(.lightmode) .content-bg-dark .btn.btn-primary>*,
body:not(.lightmode) .content-bg-dark .btn.btn-primary[type=submit] {
    color: #fff;
    background-color: #e6b381;
    -webkit-transition: background-color .3s linear;
    -moz-transition: background-color .3s linear;
    -ms-transition: background-color .3s linear;
    -o-transition: background-color .3s linear;
    transition: background-color .3s linear
}

body:not(.lightmode) .btn.btn-primary>:hover,
body:not(.lightmode) .btn.btn-primary[type=submit]:hover,
body:not(.lightmode) .btn.btn-secondary>:hover,
body:not(.lightmode) .btn.btn-secondary[type=submit]:hover,
body:not(.lightmode) .content-bg-dark .btn.btn-primary>:hover,
body:not(.lightmode) .content-bg-dark .btn.btn-primary[type=submit]:hover {
    background-color: #d19762
}

body:not(.lightmode) .btn.btn-light>*,
body:not(.lightmode) .btn.btn-light[type=submit] {
    color: #1a1a1a;
    background-color: #fff;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease
}

body:not(.lightmode) .btn.btn-light>:hover,
body:not(.lightmode) .btn.btn-light[type=submit]:hover {
    background-color: #f8f8f8
}

body:not(.lightmode) .btn.btn-outline>*,
body:not(.lightmode) .btn.btn-outline[type=submit] {
    background: 0 0;
    padding: 10px 13px;
    -webkit-transition: opacity .3s ease;
    -moz-transition: opacity .3s ease;
    -ms-transition: opacity .3s ease;
    -o-transition: opacity .3s ease;
    transition: opacity .3s ease
}

body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content,
body:not(.lightmode) .com-services-list__col__item {
    background-image: -moz-linear-gradient(to right, #e6b381 0, #eecdac 200%);
    background-image: -webkit-linear-gradient(to right, #e6b381 0, #eecdac 200%)
}

body:not(.lightmode) .btn.btn-outline>:hover,
body:not(.lightmode) .btn.btn-outline[type=submit]:hover {
    opacity: .6
}

body:not(.lightmode) .btn.btn-small>*,
body:not(.lightmode) .btn.btn-small[type=submit] {
    padding: 5px 15px
}

body:not(.lightmode) .link-with-arrow>* {
    font-weight: 700;
    color: #e6b381;
    cursor: pointer;
    position: relative;
    margin-top: 20px
}

body:not(.lightmode) .link-with-arrow>::after {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='38.5' height='11' viewBox='0 0 38.5 11'%3E%3Cg id='Arrow' transform='translate(1388.5 378) rotate(180)'%3E%3Cline id='Linie_22' data-name='Linie 22' x1='30' transform='translate(1358.5 372.5)' fill='none' stroke='%23e6b381' stroke-width='2'/%3E%3Cpath id='Polygon_1' data-name='Polygon 1' d='M5.5,0,11,9H0Z' transform='translate(1350 378) rotate(-90)' fill='%23e6b381'/%3E%3C/g%3E%3C/svg%3E");
    position: absolute;
    top: 50%;
    left: 100%;
    -webkit-transform: translate3d(5px, -50%, 0) scale3d(.6, .6, 1);
    -moz-transform: translate3d(5px, -50%, 0) scale3d(.6, .6, 1);
    -ms-transform: translate3d(5px, -50%, 0) scale3d(.6, .6, 1);
    -o-transform: translate3d(5px, -50%, 0) scale3d(.6, .6, 1);
    transform: translate3d(5px, -50%, 0) scale3d(.6, .6, 1);
    -webkit-transition: transform .2s linear;
    -moz-transition: transform .2s linear;
    -ms-transition: transform .2s linear;
    -o-transition: transform .2s linear;
    transition: transform .2s linear
}

body:not(.lightmode) .link-with-arrow>:hover::after {
    -webkit-transform: translate3d(10px, -50%, 0) scale3d(.6, .6, 1);
    -moz-transform: translate3d(10px, -50%, 0) scale3d(.6, .6, 1);
    -ms-transform: translate3d(10px, -50%, 0) scale3d(.6, .6, 1);
    -o-transform: translate3d(10px, -50%, 0) scale3d(.6, .6, 1);
    transform: translate3d(10px, -50%, 0) scale3d(.6, .6, 1)
}

body:not(.lightmode) .content-bg-dark .btn.btn-outline>*,
body:not(.lightmode) .content-bg-dark .btn.btn-outline[type=submit] {
    color: #fff;
    border: 1px solid #fff !important
}

body:not(.lightmode) .com-content-box__wrapper.border-gradient .com-content-box__wrapper__inner {
    background-color: #343434
}

body:not(.lightmode) .com-content-box__wrapper.bg-main,
body:not(.lightmode) .com-customer-review .reviews-container {
    background-color: #4d4d4d
}

body:not(.lightmode) .com-customer-review .reviews-container>svg,
body:not(.lightmode) .com-customer-review .reviews-container>svg * {
    fill: #343434
}

body:not(.lightmode) .com-customer-review .reviews-container .review-single__bottom__name {
    color: #fff
}

body:not(.lightmode) .com-customer-review .reviews-container .review-single__bottom__avatar {
    background-color: #e6b381
}

body:not(.lightmode) .com-gallery__container__image {
    background-color: #4d4d4d
}

body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content {
    background-color: #e6b381;
    background-image: linear-gradient(to right, #e6b381 0, #eecdac 200%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b381', endColorstr='#eecdac', GradientType=1);
    background-repeat: repeat-x
}

body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-fill>img,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-fill>img *,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-fill>svg,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-fill>svg * {
    fill: #1a1a1a
}

body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-stroke>img,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-stroke>img *,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-stroke>svg,
body:not(.lightmode) .com-icon-box-list__wrapper .single-icon-box__content__inner.icon-stroke>svg * {
    stroke: #1a1a1a
}

body:not(.lightmode) .com-icon-circle__single__inner {
    background-color: #e6b381
}

body:not(.lightmode) .com-icon-circle__single__inner.icon-fill>img,
body:not(.lightmode) .com-icon-circle__single__inner.icon-fill>img *,
body:not(.lightmode) .com-icon-circle__single__inner.icon-fill>svg,
body:not(.lightmode) .com-icon-circle__single__inner.icon-fill>svg * {
    fill: #fff
}

body:not(.lightmode) .com-references-list__single__preview>svg,
body:not(.lightmode) .com-references-list__single__preview>svg *,
body:not(.lightmode) .site-main .com-video-background-content__overlay svg,
body:not(.lightmode) .site-main .com-video-background-content__overlay svg * {
    fill: #343434
}

body:not(.lightmode) .com-icon-circle__single__inner.icon-stroke>img,
body:not(.lightmode) .com-icon-circle__single__inner.icon-stroke>img *,
body:not(.lightmode) .com-icon-circle__single__inner.icon-stroke>svg,
body:not(.lightmode) .com-icon-circle__single__inner.icon-stroke>svg * {
    stroke: #fff
}

body:not(.lightmode) .com-logo-slider .com-logo-slider-bubbles__bubble {
    background-color: #343434
}

body:not(.lightmode) .com-logo-slider .com-logo-slider-bubbles__bubble__label {
    background-color: #0d0d0d;
    color: #fff
}

body:not(.lightmode) .com-logo-slider .com-logo-slider-bubbles__bubble__label::after {
    background-color: #0d0d0d
}

body:not(.lightmode) .com-personcard .person {
    background-color: #4d4d4d
}

body:not(.lightmode) .com-personcard .person__social__xing {
    background-color: #0d0d0d
}

body:not(.lightmode) .com-references-list__filter .ref-cat-filter {
    color: #fff
}

body:not(.lightmode) .com-references-list__filter .filter-icon,
body:not(.lightmode) .com-references-list__filter .ref-cat-filter__count {
    background-color: #4d4d4d
}

body:not(.lightmode) .com-references-list__filter .filter-icon>span {
    border-color: #fff
}

body:not(.lightmode) .com-references-list__filter .filter-icon>span::before {
    background-color: #fff
}

body:not(.lightmode) .com-references-list__single__preview {
    background-color: #4d4d4d
}

body:not(.lightmode) .com-step-by-step__wrapper .single-step__header__count {
    background-color: #e6b381;
    color: #fff
}

body:not(.lightmode) .com-step-by-step__wrapper .single-step.active .single-step__header__headline h4,
body:not(.lightmode) .com-step-by-step__wrapper .single-step.highlight-on-hover:hover .single-step__header__headline h4 {
    color: #fff
}

body:not(.lightmode) .com-services-list__col__item,
body:not(.lightmode) .com-services-list__col__item.item-link:hover {
    background-color: #e6b381;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6b381', endColorstr='#eecdac', GradientType=1);
    background-repeat: repeat-x
}

body:not(.lightmode) .com-services-list__col__item {
    -webkit-transition: color .2s linear;
    -moz-transition: color .2s linear;
    -ms-transition: color .2s linear;
    -o-transition: color .2s linear;
    transition: color .2s linear;
    background-image: linear-gradient(to right, #e6b381 0, #eecdac 200%);
    color: #1a1a1a
}

body:not(.lightmode) .com-services-list__col__item.item-link:hover {
    background-image: -moz-linear-gradient(to right, #e6b381 0, #eecdac 200%);
    background-image: -webkit-linear-gradient(to right, #e6b381 0, #eecdac 200%);
    background-image: linear-gradient(to right, #e6b381 0, #eecdac 200%);
    color: #fff
}

body:not(.lightmode) .com-tag-list h5,
body:not(.lightmode) .com-tag-list h6,
body:not(.lightmode) .com-text-three-cols__wrapper__headlines h4,
body:not(.lightmode) .com-text-three-cols__wrapper__text h4 {
    color: #e6b381
}

@media screen and (min-width:920px) {
    body:not(.lightmode) .com-text-image-three-cols__headline {
        margin: 0 0 50px 20%
    }
}

body:not(.lightmode) .content-bg-dark .com-video-background-content__overlay,
body:not(.lightmode) .content-bg-gray .com-video-background-content__overlay,
body:not(.lightmode) .site-main .com-video-background-content__overlay {
    width: 100%;
    position: relative
}

body:not(.lightmode) .site-main .com-video-background-content__overlay::after,
body:not(.lightmode) .site-main .com-video-background-content__overlay::before {
    background-color: #343434
}

body:not(.lightmode) .content-bg-gray .com-video-background-content__overlay::after,
body:not(.lightmode) .content-bg-gray .com-video-background-content__overlay::before {
    background-color: #1a1a1a
}

body:not(.lightmode) .content-bg-gray .com-video-background-content__overlay svg,
body:not(.lightmode) .content-bg-gray .com-video-background-content__overlay svg * {
    fill: #1a1a1a
}

body:not(.lightmode) .content-bg-dark .com-video-background-content__overlay::after,
body:not(.lightmode) .content-bg-dark .com-video-background-content__overlay::before {
    background-color: #0d0d0d
}

body:not(.lightmode) .content-bg-dark .com-video-background-content__overlay svg,
body:not(.lightmode) .content-bg-dark .com-video-background-content__overlay svg * {
    fill: #0d0d0d
}